<div class="groups">
  <div class="groups__settings">
    <button
      mat-raised-button
      color="primary"
      (click)="loadGroups(true)"
      [disabled]="disabled || loading"
    >
      Update
    </button>
    <span *ngIf="remainingTime$ | async as remainingTime">{{ remainingTime }}</span>
    <button mat-raised-button color="accent" (click)="openModal()" [disabled]="loading">
      Create
    </button>

    <div class="groups__loading" *ngIf="loading">Loading...</div>
  </div>

  <ul class="groups__wrapper" *ngIf="groups$ | async as groups">
    <li class="group" *ngFor="let group of groups" (click)="openGroupDialog(group.id.S)">
      <a class="group__link" [routerLink]="'/group/' + group.id">{{ group.name.S }}</a>
      <span *ngIf="group.createdBy.S === uid">
        <button mat-raised-button color="accent" (click)="deleteGroup($event, group.id.S)">
          <mat-icon>delete_forever</mat-icon>Delete
        </button>
      </span>
    </li>
  </ul>
</div>
