:host {
  width: 50%;
}

:host-context(.dark-theme) {
  .person {
    background-color: #181818;
    color: #ffffff;
    border: #0a0a0a solid 1px;
    box-shadow: 5px 5px 10px #0a0a0a;
    &.active {
      background-color: #18252e;
      border: #18252e solid 1px;
    }
  }
}

.people {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  min-height: calc(100vh - 150px);

  &__settings {
    position: relative;
    display: flex;
    align-items: center;
    span {
      position: absolute;
      left: 130px;
      font-size: 24px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }

  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.person {
  position: relative;
  display: flex;
justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 38px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0 15px;
  border: #f2f2f2 solid 1px;
  box-shadow: 5px 5px 10px #dadada;
  cursor: pointer;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.05);
  }

  &.active {
    background-color: #def1ff;
    border: #def1ff solid 1px;
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 30px;
  }

  mat-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    opacity: 0.5;
    flex-shrink: 0;
  }
}
